<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/header") %> <%- include("includes/side-drawer") %>
    <main>
      <h1>Oooops something went wrong, the server messed it up...</h1>
      <p>Try again later, see if the server is working.</p>
    </main>
  </body>
</html>
