<%- include('includes/head.ejs', { title: 'Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Not AUTHORIZED!!</h1>
    <p>You are not AUTHORIZED and therefore not allowed to access this part of the page!</p>
  </main>
</body>
</html>