<%- include("../../shared/includes/head", {pageTitle: "Payment failes"}) %>

</head>
<body>
  <%- include("../../shared/includes/header") %>
  <main>
    <h1>Order failed</h1>   
    <p>Please contact the owner for more details!</p> 
  </main>

  <%- include("../../shared/includes/footer") %>

