<%- include("../../shared/includes/head", {pageTitle: "Payment success"}) %>

</head>
<body>
  <%- include("../../shared/includes/header") %>
  <main>
      <h1>Payment succesful</h1>
    <p>Thank you for your purchase visit <a href="/orders">the orders</a>page for more details.</p>    
  </main>

  <%- include("../../shared/includes/footer") %>

