body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: rgb(244, 234, 255);
}

h1 {
  color: rgb(88, 49, 196);
}

header img {
  display: inline-block;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 35px;
}

main {
  background-color: rgb(88, 49, 196);
  color: white;
  text-align: left;
  margin: auto;
  width: 800px;
}

article {
  padding: 32px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

li {
  margin: 14px 0px;
  padding-left: 10px;
  border-left: 3px solid transparent;
}

.list-with-border {
  padding-left: 10px;
  color: yellow;
  border-color: yellow;
}

article a {
  background-color: yellow;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
  padding: 2px 5px;
}

article a:hover,
article a:active {
  background-color: rgb(250, 201, 391);
}

#be-bold {
  font-weight: 700;
}

section a {
  display: inline-block;
  margin: 25px auto;
  padding: 12px 20px;
  background-color: rgb(250, 201, 39);
  text-decoration: none;
  border-radius: 10px;
  color: rgb(66, 51, 4);
}

section a:hover,
section a:active {
  background-color: rgb(247, 209, 85);
}

footer p {
  color: rgb(131, 113, 149);
}
