<%- include("includes/head", {pageTitle: "An error Occurred"}) %>
</head>
<body>
  <%- include("includes/header") %>
  <main>
    <h1>Not authenticated</h1>
    <p>Please login to view the page.</p>
    <p><a class="btn" href="/">Back to main page!</a></p>
    
  </main>

  <%- include("includes/footer") %>
