<%- include("includes/head", {pageTitle: "An error Occurred"}) %>
</head>
<body>
  <%- include("includes/header") %>
  <main>
    <h1>Not autorized!</h1>
    <p>You are not authorized to view this page.</p>
    <p><a class="btn" href="/">Back to main page!</a></p>
    
  </main>

  <%- include("includes/footer") %>
