<%- include("includes/head", {pageTitle: "An error Occurred"}) %>
</head>
<body>
  <%- include("includes/header") %>
  <main>
    <h1>Could not find resource</h1>
    <p>Requested resource not found.</p>
    <p><a class="btn" href="/">Back to main page!</a></p>
    
  </main>

  <%- include("includes/footer") %>
