<%- include("includes/head", {pageTitle: "An error Occurred"}) %>
</head>
<body>
  <%- include("includes/header") %>
  <main>
    <h1>Something went wrong</h1>
    <p>Sorry, something went wrong try again later</p>
    <p><a class="btn" href="/">Back to main page!</a></p>
    
  </main>

  <%- include("includes/footer") %>
