/* *************** HEADER *************** */
h1 {
  color: rgb(105, 97, 24);
  font-size: 48px;
  margin: 15px 0;
}

/* *************** MAIN *************** */
h2 {
  text-decoration: underline rgb(68, 194, 68);
  /* border-bottom: 3px solid rgb(68, 194, 68); */
  font-size: 35px;
}
h3 {
  color: rgb(78, 13, 5);
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  margin: 8px;
}

main p {
  margin: 8px;
  color: rgb(221, 87, 63);
}

ul {
  font-family: "Fira Sans", sans-serif;
  list-style: none;
  width: 500px;
  padding: 0px;
  margin: 25px auto 0 auto;
}

li {
  margin: 10px;
  padding: 5px;
  background-color: rgb(223, 163, 124);
  border-radius: 6px;
}

.highlight-goal {
  background-color: rgb(218, 119, 54);
}

.highlight-goal p {
  color: rgb(226, 191, 185);
  font-weight: bold;
}

/* *************** FOOTER *************** */
footer {
  margin-top: 50px;
}

a {
  margin-top: 30px;
  padding: 1px 3px;
  background-color: rgb(199, 223, 135);
  border-radius: 4px;
}

a:hover {
  padding: 3px 6px;
  color: white;
  background-color: rgb(180, 12, 91);
  text-decoration: none;
}
